* {
    font-family: arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #999;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
#content p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #4b5259; 
}
#content ul {
    margin: 0 0 20px 40px;
    list-style-position: inside;
    color: #4b5259; 
}
#content li {
    font-size: 14px;
    margin-top: 5px;
    color: #4b5259; 
}
#content a {
    color: #2b2f33; 
}
#content a:hover {
    text-decoration: underline;
}
h1 {
    margin-bottom: 20px;
    color: #43424d; 
    font-size: 18px;
}
h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    color: #43424d; 
    font-size: 16px;
}
h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #43424d; 
}
pre {
    display: block;
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    font-family: Courier New, monospace;
    font-size: 14px;
    color: #444;
    white-space: pre-wrap;
}
.right {
    float: right;
}
.clear {
    clear: both;
    white-space: nowrap;
}
#container {
    background: white url(/static/img/header_bg.png) repeat-x;
    width: 960px;
    margin: 0px auto 20px;
    border: 1px solid #777;
}
#header {
    position: relative;
    height: 150px;
    background-image: url(/static/img/header_image.png);
}
#logo {
    position: absolute;
    top: 5px;
    left: 20px;
}
#navbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 960px;
    height: 30px;
    list-style-type: none;
    background: #8693a0 url(/static/img/navbar_bg.png) repeat-x;
}
#navbar li {
    float: left;
    margin: 6px 0 0 60px;
}
#navbar a {
    color: #e8e8e8;
    font-size: 15px;
    text-shadow: 2px 2px #666;
    font-weight: bold;
}
#navbar a:hover,  #navbar a.selected {
    color: white;
}
#content {
    padding: 40px 40px 20px 40px;
}
#content .outstanding {
    margin-left: 40px;
    display: inline-block;
    height: 25px;
    padding: 5px 15px 0;
    background: #8693a0 url(/static/img/navbar_bg.png) repeat-x;
    text-align: center;
    border-left: 1px solid #c1d4e3;
    border-right: 1px solid #5c5b69;
}
#content .outstanding a {
    color: #e8e8e8;
    font-size: 15px;
    text-shadow: 2px 2px #666;
    font-weight: bold;
}
#content .outstanding a:hover {
    color: white;
    text-decoration: none;
}
img.content-main {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
#footer {
    margin: 30px 50px 10px;
    padding: 20px;
    border-top: 1px solid #c1d4e3;
}
#support p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #8c99a6; 
}
#support img {
    margin-left: 30px;
}
#content .post {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c1d4e3;
}
#content .last-post {
    margin-bottom: 0;
    border-bottom: none;
}
#content .post-date {
    font-size: 12px;
    color: #8c99a6; 
}
#content .toc {
    margin: 0 0 30px 0;
    padding-bottom: 20px;
    list-style-type: none;
    border-bottom: 1px solid #c1d4e3;
}
#content .toc li a {
    font-size: 12px;
    color: #8c99a6; 
}
#content .toc li a:hover {
    text-decoration: none;
}
#content .toc li.l2 {
    margin-left: 20px;
}

/* docs */
#content a.headerlink {
    margin-left: 10px;
    color: #eee;
}
#content a.headerlink:hover {
    color: #aaa;
    text-decoration: none;
}
#content div.toctree-wrapper ul {
    margin-left: 20px;
    margin-bottom: 5px;
    list-style-type: none;
}
#content div.toctree-wrapper a {
    font-size: 12px;
    color: #8c99a6; 
}

