<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
    <head> 
        <title>{% block title %}Viri{% endblock %}</title> 
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/> 
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
    </head> 
    <body> 
        <div id="container"> 
            <div id="header"> 
                <ul id="navbar"> 
                    <li><a href="/"{% block home %}{% endblock %}>Home</a></li> 
                    <li><a href="/installation/"{% block installation %}{% endblock %}>Installation</a></li> 
                    <li><a href="http://docs.viriproject.com/">Documentation</a></li> 
                    <li><a href="/community/"{% block community %}{% endblock %}>Community</a></li> 
                    <li><a href="/blog/"{% block blog %}{% endblock %}>Blog</a></li> 
                </ul> 
            </div>
            <div id="content"> 
                {% block content %}{% endblock %}
                <div class="clear"></div> 
            </div> 
            <div id="footer"> 
                <div id="support">
                    <p>With the support of:</p>
                    <a href="http://www.eu.ntt.com/en/index.html">
                        <img src="/static/img/nttlogo.png" alt="ntt communications"/>
                    </a> 
                    <a href="http://code.google.com/appengine/">
                        <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine"/>
                    </a>
                </div> 
            </div> 
        </div> 
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1635939-22']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body> 
</html> 

