{% extends "base.html" %}

{% block title %}{{ super() }} &raquo; Blog{% endblock %}

{% block blog %} class="selected"{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post{% if loop.last %} last-post{% endif %}">
            <h2>{{ post.title }}</h2>
            <div class="post-content">
                {{ post.content }}
            </div>
            <p class="post-date">Published on {{ post.posted_with_format }}</p>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock %}

