{% extends "base.html" %}

{% block title %}{{ super() }} &raquo; Community{% endblock %}

{% block community %} class="selected"{% endblock %}

{% block content %}
    <img class="content-main" src="/static/img/community.jpg" alt=""/> 
    <h1>Viri enforces sharing</h1> 
    <p>Sharing is part of the Viri spirit. Viri is not only a software product, Viri is a community.</p>
    <h2>Share your knowledge</h2>
    <p>Join the <a href="http://groups.google.com/group/viri-users/">Viri mailing list</a> and share your knowledge. Ask questions, and answer other Viri folks. Also, the mailing list is a good place to propose enhacements and discuss possible bugs.</p>
    <p class="outstanding"><a href="http://groups.google.com/group/viri-users/">Viri mailing list &raquo;</a></p>
    <h2>Share your code</h2>
    <p>Viri is a <a href="http://en.wikipedia.org/wiki/Free_and_open_source_software">Free and Open Source Software</a>. All Viri source code is available on the <a href="https://github.com/garcia-marc/viri/">GitHub Viri project</a>. Please, contribute your code back, if you fix a bug, or you implement and enhacement.</p>
    <p class="outstanding"><a href="https://github.com/garcia-marc/viri/">GitHub Viri project &raquo;</a></p>
    <h2>Share your scripts</h2>
    <p>Viri's architecture is based on <a href="http://www.python.org">Python</a> scripts which perform specific tasks. Uploading a file to a set of remote hosts, or executing a command in several computers at a time are examples on what Viri can do. We enforce Viri users to share their scripts, so they become better with the contributions of other users.</p>
    <p class="outstanding"><a href="/script-repo/">Viri scripts repository &raquo;</a></p>
{% endblock %}

