{% extends "base.html" %}

{% block title %}{{ super() }} &raquo; System administration automation for your datacenter{% endblock %}

{% block home %} class="selected"{% endblock %}

{% block content %}
    <img class="content-main" src="/static/img/home.png" alt=""/> 
    <h1>Let Viri administer your datacenter</h1> 
    <p>Viri automates most system administrator tasks, managing among others:</p>
    <ul>
        <li>Configuration files</li>
        <li>Backups</li>
        <li>Monitoring</li>
        <li>Deployments</li>
    </ul>
    <p>Viri is multiplatform, and can manage thousands of hosts. It's also customizable, whatever you need to administer your datacenter, Viri can do it.</p>
    <p>Viri is <em>Free and Open Source Software</em>, and is distributed free of charge.</p>
    <p class="outstanding"><a href="http://docs.viriproject.com">More information &raquo;</a></p>
{% endblock %}

