{% extends "base.html" %}

{% block title %}{{ super() }} &raquo; Installation{% endblock %}

{% block installation %} class="selected"{% endblock %}

{% block content %}
    <ul class="toc">
        <li><a href="#installing-viri">Installing Viri</a></li>
        <li class="l2"><a href="#redhat">Red Hat based distributions</a></li>
        <li class="l2"><a href="#debian">Debian based distributions</a></li>
        <li class="l2"><a href="#windows">Windows</a></li>
        <li class="l2"><a href="#manual">Manual installation on UNIX based systems</a></li>
        <li><a href="#configuring-viri">Configuring Viri</a></li>
        <li class="l2"><a href="#daemon">Daemon configuration</a></li>
        <li class="l2"><a href="#client">Client configuration</a></li>
    </ul>
    <h1 id="installing-viri">Installing Viri</h1>
    <p>Viri packages contain both the daemon and the client. So, installation is the same, but configuration may be different.</p>
    <p>Viri runs in different operating systems, see the installation instructions for yours.</p>
    <h2 id="redhat">Red Hat based distributions</h2>
    <p>Viri can be installed in most Red Had based distributions, for both 32 and 64 bits PC architectures.</p>
    <p>Some of the distributions where Viri can be installed include RHEL (version 4, 5 and 5), CentOS (version 4, 5 and 6), and Fedora (Fedora Core 3 and higher). Viri will also probably work in most modern Red Hat derivatives.</p>
    <p>To install Viri on a Red Hat based distribution, just use these two commands.</p>
    <pre>
sudo rpm -Uvh http://dist.viriproject.com/redhat/viri-release-0-1.noarch.rpm
sudo yum install viri
    </pre>
    <h2 id="debian">Debian based distributions</h2>
    <p>Viri works in Debian, and other Debian based distributions like Ubuntu.</p>
    <pre>
sudo echo "deb http://dist.viriproject.com/debian $(lsb_release -cs) main" &gt;&gt; /etc/apt/sources.list
sudo apt-get update
sudo apt-get install viri
    </pre>
    <h2 id="windows">Windows</h2>
    <p>Viri has been tested in Microsoft Windows 2003 and 2008, but it should work in desktop versions too.</p>
    <p>To install Viri in Windows simply download the installer from <a href="http://dist.viriproject.com/windows/Viri-0.1.msi">http://dist.viriproject.com/windows/Viri-0.1.msi</a>, and execute it.</p>
    <h2 id="manual">Manual installation on UNIX based systems</h2>
    <p>Viri can easily be installed in any UNIX based system, even if no package is provided for the specific operating system.</p>
    <p>First step is to install latest Python 3 version on the system. Instructions on how to install Python in different systems are provided in the <a href="http://www.python.org/download/">Python download page</a>. Python must be placed on the /opt/python-viri directory.</p>
    <p>Then, download Viri source from the <a href="https://github.com/garcia-marc/viri/downloads">Viri download page</a>. Finally, build it and install it using next commands from the source root directory:</p>
    <pre>
make
sudo make install
    </pre>
    <h1 id="configuring-viri">Configuring Viri</h1>
    <p>While Viri can mostly work with default configurations, before using Viri it's necessary to set up a <a href="http://en.wikipedia.org/wiki/Public_key_infrastructure">Publik Key Infrastructure (PKI)</a>, so the Viri infrastructure is installed in a safe way.</p>
    <p>If your organization doesn't already have a PKI, you can see how to set up one on the documentation <a href="/documentation/creating-a-pki/">Creating a PKI</a>.</p>
    <h2 id="daemon">Daemon configuration</h2>
    <p>All what the daemon needs is to know which CAs your infrastructure has. This is which entities can sign user certificates that will be accepted by Viri daemons.</p>
    <p>While every daemon can know several CAs, and there is no need that all the daemons know the same CAs, in most cases you'll probably have just one CA, and the same for all daemons.</p>
    <p>So, for every host you want to administer from Viri, you'll need to copy a file with your CAs certificates in /etc/viri/ca.cert. The file should look like:</p>
    <pre>
-----BEGIN CERTIFICATE-----
MIIGGDCCBACgAwIBAgIJAKMvKK6lkHNCMA0GCSqGSIb3DQEBBQUAMGUxCzAJBgNV
BAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMQ0wCwYDVQQKEwRWaXJpMRAwDgYD
VQQLEwdUZXN0aW5nMSAwHgYDVQQDExdDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTAe
Fw0xMTA3MTMxMjA2NTdaFw0yMTA3MTAxMjA2NTdaMGUxCzAJBgNVBAYTAlVTMRMw
EQYDVQQIEwpDYWxpZm9ybmlhMQ0wCwYDVQQKEwRWaXJpMRAwDgYDVQQLEwdUZXN0
aW5nMSAwHgYDVQQDExdDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTCCAiIwDQYJKoZI
hvcNAQEBBQADggIPADCCAgoCggIBAMvXIb/vqXOGx+eNz+Bnt1o5Eqo5OCA9kjqw
iPYdLYBLF9Vn7lYgm0QX7hcEbAn3oFQGmrkb4UFXWYIMhCyTs9pTZd/Kh7QBLtSv
MUp0j5l5C70IgFJtkyUoUx8tJmmBV5smeqvkjhPzIhGE+hRxjOBl7vzJNsF9cesh
XBAAnLeoRQlHIF4uERpKdw1b75eVpWH9xlzEYjPvQqyyEHLPmoiKK0kwzrYeqquF
OSOykHiJug+NK0drbzByqwSSKoUlHKwTL/MCMXCHYSBS71+O/1+bhXGRrrue9e2f
9QTvQrVn1zp4A1G016c5a2nwU39jAutuKIdStSOic7116BBl5D6IP6Aq5xue22JB
ZsrJ3167k2s8eo8vMBSe84pBaUX8FS09yA8fWNanCEfcbI80/nSvWvTGgdNL2j8q
NNTZt3Ab19oNAqr/rAhPre3YMS6LXTku1KdW/Cz48nntXTxbinuxuop+aOnvPWry
cfHkNnEmhaxfwgGzxyRVEjo6pMiA+jYBdYAMYCbXzSp4ZwBkZcWeJO2XmKDKO9Cc
zulnkdBk0G2x+LVQzUsA1MFg4Ph4tmlK2EyLJzfUBwwLfml5vi1Snogm1xL3VBrA
7beiNwboxeOWQ1orpMrkMgGsFhBHjz+cES2Crg3KJxEgnM/152MTvLQfqOgeM6l/
MKx2Ek3RAgMBAAGjgcowgccwHQYDVR0OBBYEFHbNouyM250yB6lJMPOEiPgBdVr7
MIGXBgNVHSMEgY8wgYyAFHbNouyM250yB6lJMPOEiPgBdVr7oWmkZzBlMQswCQYD
VQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTENMAsGA1UEChMEVmlyaTEQMA4G
A1UECxMHVGVzdGluZzEgMB4GA1UEAxMXQ2VydGlmaWNhdGlvbiBBdXRob3JpdHmC
CQCjLyiupZBzQjAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4ICAQAc6/45
2TjjluRImB0SK0PIKvcvDXT0WLdN1mbI+2Zup3IlCFeNj8m2JH8s1dZyJO9TOJDC
eV4+SGWffEWdG9LQCvhB39DSgRdtd97Vke5kct1QeBcz1TBFylA9C4JOmF9wCvwh
lSsapJLxdW/KylBfic3vG9yt0890Skxm+DclczvlQU53q/ezR2F6RGcYdtdc0yVc
z5UBxJg93L1IB+TpsXe3NKO16SkqZVZy98g7xEMgpnQNmFBHWeVQsEgDfvWfAMr4
zz198UmCzhk/2I661Jflui1JbXfKsdyTCs9YjDVHH6JVDujLW+pwAKR1OHPHkkPU
xFjlG1n3RtbkJfSUVDgk1iOe8LIVZQBp+MayYpjTce5Oeb7xj8+e0nz/2qrW6JF8
s/9j48a9dWhZTkS+hEKqKkpnnrqEsToHfnhI7HPZN5IokEmNZEc72aV7z7Lg4EK8
sva/1ZGtmIqYnAliL85+uLwjBbyGLRMlywZhzNkB2cLeRnRGvkEH+1GPkVOpIhPi
AdaH3TF/zZf80pC8rjoZDmsmZremRelRYLBXqzBojS3eHkj8zA6pJO4z8EKfVzh1
GRrwNKaRxbMsDxUUlCLpnGwYvSYaPQfAZm+ySxzokhy4K/5K3I4pU1GCpzIWFFb8
aRrUDIruXwBebFNZOETCgj3xxVtk+DI5Wba0ZQ==
-----END CERTIFICATE-----
    </pre>
    <p>You can change the path where the known CAs file is at /etc/viri/virid.conf, as well as any other setting.</p>
    <h2 id="client">Client configuration</h2>
    <p>All what a client needs, is to have a certificate, signed by a CA, which is known by the remote hosts that will be administered.</p>
    <p>The easiest way to set it up, is to place a file with the private key, and also the signature, in the file ~/.viri/viric.pem. This file should look like:</p>
    <pre>
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 0 (0x0)
        Signature Algorithm: sha1WithRSAEncryption
        Issuer: C=US, ST=California, O=Viri, OU=Testing, CN=Certification Authority
        Validity
            Not Before: Jul 13 12:07:30 2011 GMT
            Not After : Jul 10 12:07:30 2021 GMT
        Subject: C=US, ST=California, O=Viri, OU=Testing, CN=Viri Client
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
            RSA Public Key: (4096 bit)
                Modulus (4096 bit):
                    00:9d:a0:ef:c2:03:b9:b8:9c:bd:94:8d:6b:cc:43:
                    26:89:b2:95:23:25:7c:2d:e9:3c:5a:23:ca:60:f7:
                    32:ec:8c:c0:4a:8e:e6:d9:89:2e:0a:4b:e4:d5:5e:
                    d4:f3:95:41:cc:c4:72:52:8e:8c:16:73:a6:74:a1:
                    cf:39:a2:26:87:ee:90:ba:07:c5:a9:97:ee:79:52:
                    ff:6f:41:28:27:26:5d:2f:8f:fc:90:e5:bc:55:35:
                    d7:65:d4:d4:25:6e:d0:95:23:f2:07:55:5a:32:12:
                    38:ae:0b:2d:1c:2f:40:69:eb:51:49:cb:9e:11:7c:
                    e4:e7:38:47:88:d3:d8:09:bc:6e:af:14:f5:36:4f:
                    b3:58:b4:59:e7:57:6b:34:ab:68:25:50:b2:3c:5e:
                    b8:c8:0b:cd:f1:67:7f:60:dc:60:c2:ac:8e:37:75:
                    ee:37:18:0f:8d:f7:50:df:6c:4e:80:ea:7e:1c:e0:
                    16:f0:c5:37:fc:8d:e0:20:7d:ad:e0:9e:75:a6:07:
                    05:14:ce:31:30:f6:ba:e4:c9:39:fc:c6:4a:65:c5:
                    8b:f6:1e:17:ac:1e:d0:da:48:27:ba:9a:52:d6:66:
                    6b:3a:ac:9d:1a:3b:e1:37:90:25:d3:2a:02:4f:86:
                    5d:f2:c5:5d:db:9a:4b:d6:e3:10:93:19:cd:3a:0f:
                    b2:86:fb:66:84:f9:26:7f:f9:74:5d:27:59:8f:e2:
                    7d:09:32:3d:38:1d:6f:1e:b9:6d:26:3c:09:3c:e7:
                    32:b9:da:d7:69:9c:dc:3f:bb:76:33:aa:09:9b:a1:
                    28:16:43:6c:58:5e:c0:a2:ac:d1:ee:9b:0f:2e:80:
                    ca:9f:17:2c:aa:89:16:3d:ce:57:74:e2:04:35:eb:
                    b0:86:e3:af:86:09:b1:ae:e5:7b:5d:5c:24:b6:11:
                    87:de:c4:8d:12:38:13:80:95:e7:6c:75:57:9a:56:
                    59:0e:a0:1f:cb:35:28:e0:2b:e7:2a:20:74:60:53:
                    9d:c7:c0:5b:cd:4d:48:60:48:9c:18:42:0a:2f:b2:
                    fa:fa:fb:f9:ed:16:c8:78:61:20:bf:a1:95:fb:2a:
                    3f:19:f2:1a:f2:01:00:ca:0c:44:2e:4e:37:06:23:
                    54:69:f7:98:a3:b4:8f:3f:85:12:bd:e1:97:2d:25:
                    09:53:62:d2:ce:60:0b:08:9f:af:90:bc:18:8b:74:
                    a2:2f:2e:65:16:c5:18:f0:c2:9d:2b:2e:26:3a:7d:
                    c3:ee:89:95:76:5c:22:ca:1a:81:21:6a:12:16:d6:
                    ae:5e:b5:df:9c:ca:58:0e:4d:45:ac:00:8b:c3:f5:
                    b1:22:af:45:c9:1c:1b:15:ea:77:51:44:d2:9b:32:
                    a5:7a:4b
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Basic Constraints: 
                CA:FALSE
            Netscape Comment: 
                OpenSSL Generated Certificate
            X509v3 Subject Key Identifier: 
                7D:BC:7B:56:79:E9:A6:D6:BE:D9:75:5B:5A:AC:C4:F5:73:55:62:2A
            X509v3 Authority Key Identifier: 
                keyid:76:CD:A2:EC:8C:DB:9D:32:07:A9:49:30:F3:84:88:F8:01:75:5A:FB

    Signature Algorithm: sha1WithRSAEncryption
        72:a7:b4:a4:d6:6e:78:52:8c:40:45:bc:12:d0:35:6a:9f:56:
        0b:5a:9d:8b:41:3f:be:d7:15:38:d6:76:96:95:29:a5:9c:ec:
        c5:83:33:d7:e0:2d:42:40:f5:7a:ff:49:81:38:4a:0c:80:9c:
        97:e3:ce:38:b1:33:2b:dd:fa:61:1f:78:d6:06:3e:6f:28:6c:
        cf:a9:a5:94:a1:e9:88:73:7f:4a:32:db:3a:84:c0:3e:03:bf:
        d2:c5:47:96:89:59:7d:f4:87:37:f3:41:1b:05:1c:92:a4:3a:
        c4:5b:e4:90:27:fa:77:d2:22:95:ed:b7:c2:f9:e3:32:09:6e:
        15:b3:74:64:fe:9a:64:e9:44:6d:44:ac:4b:0a:e6:e9:f3:b5:
        b2:ad:97:9c:58:b8:a9:6d:e6:2b:82:71:a4:00:34:d1:eb:36:
        e8:58:99:bb:6c:8d:f2:bf:0b:dd:ce:16:f2:43:2a:9e:66:96:
        6f:15:eb:43:92:f4:24:64:78:a4:33:36:f8:1d:cb:a8:66:9c:
        78:2d:2f:1b:d3:7d:b5:f4:c0:e6:03:2b:86:89:e3:23:5c:1e:
        18:b6:e2:c6:d6:d1:d8:66:04:ca:a1:53:a9:28:fe:a4:71:70:
        84:4e:60:bc:5f:ea:e3:31:23:ff:8a:cb:0a:41:80:a1:3a:0c:
        44:02:8d:c5:4c:6e:5e:75:bb:e3:78:91:bd:8f:34:51:15:33:
        43:41:b1:52:27:da:e5:89:e1:a5:54:82:0d:05:80:ff:5e:85:
        12:09:07:99:95:0c:1b:ed:d0:59:53:99:0a:02:5c:a1:10:12:
        6f:a2:67:54:0e:38:b8:17:87:bd:e9:87:a2:9d:3a:7a:e6:c6:
        0a:ae:a2:b0:ab:42:1c:3a:7b:04:61:55:c6:c7:3c:6d:74:62:
        93:10:d5:68:8f:f9:e1:15:c3:c7:dd:59:cb:d5:3c:1f:58:1f:
        3b:42:47:a3:26:81:21:bf:9a:0d:c2:92:9b:06:ee:61:56:ad:
        2d:58:41:bb:2c:b7:23:0f:eb:1a:68:41:b4:fc:76:68:7b:3d:
        b8:6d:45:d0:80:e2:e2:c0:e7:bf:ec:10:8a:a5:9a:5e:f6:59:
        64:ba:30:b9:69:00:16:52:4e:7e:c5:f7:9b:7b:48:79:3b:52:
        43:0a:74:86:53:5f:29:3d:b2:68:1e:d9:af:ef:00:a9:4c:3f:
        1a:99:f5:19:3c:d9:1e:cf:29:b3:a0:3b:34:5c:28:bb:30:ca:
        cd:68:a8:dc:fb:b4:69:6b:ae:b1:37:eb:98:81:63:80:31:c8:
        77:ac:7c:d5:7a:5d:7c:7e:66:99:1f:c9:43:93:68:36:f8:72:
        2e:2c:21:93:26:ca:a2:d4
-----BEGIN CERTIFICATE-----
MIIFtDCCA5ygAwIBAgIBADANBgkqhkiG9w0BAQUFADBlMQswCQYDVQQGEwJVUzET
MBEGA1UECBMKQ2FsaWZvcm5pYTENMAsGA1UEChMEVmlyaTEQMA4GA1UECxMHVGVz
dGluZzEgMB4GA1UEAxMXQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMTEwNzEz
MTIwNzMwWhcNMjEwNzEwMTIwNzMwWjBZMQswCQYDVQQGEwJVUzETMBEGA1UECBMK
Q2FsaWZvcm5pYTENMAsGA1UEChMEVmlyaTEQMA4GA1UECxMHVGVzdGluZzEUMBIG
A1UEAxMLVmlyaSBDbGllbnQwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoIC
AQCdoO/CA7m4nL2UjWvMQyaJspUjJXwt6TxaI8pg9zLsjMBKjubZiS4KS+TVXtTz
lUHMxHJSjowWc6Z0oc85oiaH7pC6B8Wpl+55Uv9vQSgnJl0vj/yQ5bxVNddl1NQl
btCVI/IHVVoyEjiuCy0cL0Bp61FJy54RfOTnOEeI09gJvG6vFPU2T7NYtFnnV2s0
q2glULI8XrjIC83xZ39g3GDCrI43de43GA+N91DfbE6A6n4c4BbwxTf8jeAgfa3g
nnWmBwUUzjEw9rrkyTn8xkplxYv2HhesHtDaSCe6mlLWZms6rJ0aO+E3kCXTKgJP
hl3yxV3bmkvW4xCTGc06D7KG+2aE+SZ/+XRdJ1mP4n0JMj04HW8euW0mPAk85zK5
2tdpnNw/u3YzqgmboSgWQ2xYXsCirNHumw8ugMqfFyyqiRY9zld04gQ167CG46+G
CbGu5XtdXCS2EYfexI0SOBOAledsdVeaVlkOoB/LNSjgK+cqIHRgU53HwFvNTUhg
SJwYQgovsvr6+/ntFsh4YSC/oZX7Kj8Z8hryAQDKDEQuTjcGI1Rp95ijtI8/hRK9
4ZctJQlTYtLOYAsIn6+QvBiLdKIvLmUWxRjwwp0rLiY6fcPuiZV2XCLKGoEhahIW
1q5etd+cylgOTUWsAIvD9bEir0XJHBsV6ndRRNKbMqV6SwIDAQABo3sweTAJBgNV
HRMEAjAAMCwGCWCGSAGG+EIBDQQfFh1PcGVuU1NMIEdlbmVyYXRlZCBDZXJ0aWZp
Y2F0ZTAdBgNVHQ4EFgQUfbx7Vnnppta+2XVbWqzE9XNVYiowHwYDVR0jBBgwFoAU
ds2i7IzbnTIHqUkw84SI+AF1WvswDQYJKoZIhvcNAQEFBQADggIBAHKntKTWbnhS
jEBFvBLQNWqfVgtanYtBP77XFTjWdpaVKaWc7MWDM9fgLUJA9Xr/SYE4SgyAnJfj
zjixMyvd+mEfeNYGPm8obM+ppZSh6Yhzf0oy2zqEwD4Dv9LFR5aJWX30hzfzQRsF
HJKkOsRb5JAn+nfSIpXtt8L54zIJbhWzdGT+mmTpRG1ErEsK5unztbKtl5xYuKlt
5iuCcaQANNHrNuhYmbtsjfK/C93OFvJDKp5mlm8V60OS9CRkeKQzNvgdy6hmnHgt
LxvTfbX0wOYDK4aJ4yNcHhi24sbW0dhmBMqhU6ko/qRxcIROYLxf6uMxI/+KywpB
gKE6DEQCjcVMbl51u+N4kb2PNFEVM0NBsVIn2uWJ4aVUgg0FgP9ehRIJB5mVDBvt
0FlTmQoCXKEQEm+iZ1QOOLgXh73ph6KdOnrmxgquorCrQhw6ewRhVcbHPG10YpMQ
1WiP+eEVw8fdWcvVPB9YHztCR6MmgSG/mg3CkpsG7mFWrS1YQbsstyMP6xpoQbT8
dmh7PbhtRdCA4uLA57/sEIqlml72WWS6MLlpABZSTn7F95t7SHk7UkMKdIZTXyk9
smge2a/vAKlMPxqZ9Rk82R7PKbOgOzRcKLswys1oqNz7tGlrrrE365iBY4AxyHes
fNV6XXx+ZpkfyUOTaDb4ci4sIZMmyqLU
-----END CERTIFICATE-----
    </pre>
    <p>After the installation, you can see the <a href="/documentation/">Documentation</a> to see how to start using Viri.</p>
{% endblock %}

